<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Friend, <%= @user.first_name %>!</h1>
    <p>
      <% if @user.provider %>
        You have successfully signed up to Friend using <%= @user.provider %>!
      <% else %>
        You have successfully signed up to Friend!
      <% end %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>