<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <div class="row">
      <div class="col-1 mb-2"><%= avatar(comment.user, 20, 20) %></div>
      <div class="col-10 mb-2 bg-white rounded">
        <span class="commenter"><%= comment.user.email %></span>
        <p class="comment"><%= comment.body %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Be the first to comment!</p>
<% end %>