<h2>Privacy Policy</h2>
<h3>Information We Collect</h3>
<ul>
  <li>First name</li>
  <li>Last name</li>
  <li>Email Address</li>
  <li>Password</li>
</ul>
<p>This information is solely used on the web service provided to create and use your account. Nothing else</p>
<h3>Third Party Services</h3>
<p>This web service provides service from a third party, Facebook, which when used, the information gathered from the third party service includes name, email, and profile picture.</p>
<p>This information is used by the web service as an alternative to creating a new account from scratch, which you will need to provide third party password before it can be authorized, however, this web service does not use or store third party passwords.</p>