@import "~bootstrap/scss/bootstrap";

// .log-in-form {
//   transform: scale(.75);
//   transform-origin: left;
// }

// .navbar-nav {
//   width: 100%;
// }

.remember-box, .remember-text {
  border: none;
  background-color: transparent;
}

.remember-box {
  scale: .75;
  padding: 0;
}