@import "~bootstrap/scss/bootstrap";

.remember-box, .remember-text {
  border: none;
  background-color: transparent;
}

.remember-box {
  scale: .75;
  padding: 0;
}

[href$=notifications] {

  position: relative;

  .notification-count {
    position: absolute;
    top: 0;
    background-color: #dc3545;
    color: #FFF;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    scale: .75;
  }
}

#notifications > [class^=notification] {
  background-color: #e8e9ea;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: .5rem;
  [class$=message] {
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 361px) {
  .notification-count {
    right: 0;
  }
}

@media screen and (max-width: 576px) {
  .notification-count {
    right: -8px;
  }
}