<div class="post-<%= @post.id %> mt-2">
  <span class="author">
    <%# place user profile image  %>
    <%= @post.user.email %>
    <%# place when posted ... maybe post options such as public, friends, etc... %>
  </span>
  <p class="body">
    <%= @post.body %>
  </p>
  <span class="stats">
    <span>Like</span>
    <%# Likes, how many of them %>
    <span style="float: right;">Comment</span>
    <%# Comments, how many comments %>
  </span>
  <hr>
  <div class="actions">
    <%# Section where user can like, comment, maybe share %>
  </div>
</div>