// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#comment_body {
  resize: none;
}

.flex-fill.mb-2.ml-2.pl-2.bg-white.rounded {
  .commenter {
    font-size: .8em;
    font-weight: bold;
  }
  .comment {
    font-size: .85em;
  }
}