// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#post_body {
  resize: none;
}

div[class^=post] {
  background: var(--light);
  border-radius: 5px;
  padding: 5px 10px;
}
